{% extends 'base.html.twig' %}

{% block title %}Property index{% endblock %}

{% block body %}
    <h1>Property index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Surface</th>
                <th>Rooms</th>
                <th>Bedrooms</th>
                <th>Floor</th>
                <th>Price</th>
                <th>Heat</th>
                <th>City</th>
                <th>Address</th>
                <th>Postal_code</th>
                <th>Sold</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ property.id }}</td>
                <td>{{ property.title }}</td>
                <td>{{ property.description }}</td>
                <td>{{ property.surface }}</td>
                <td>{{ property.rooms }}</td>
                <td>{{ property.bedrooms }}</td>
                <td>{{ property.floor }}</td>
                <td>{{ property.price }}</td>
                <td>{{ property.heat }}</td>
                <td>{{ property.city }}</td>
                <td>{{ property.address }}</td>
                <td>{{ property.postalCode }}</td>
                <td>{{ property.sold ? 'Yes' : 'No' }}</td>
                <td>{{ property.createdAt ? property.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('property_show', {'id': property.id}) }}">show</a>
                    <a href="{{ path('property_edit', {'id': property.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('property_new') }}">Create new</a>
{% endblock %}
