{% extends 'base.html.twig' %}

{% block title %}Blog
{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{ blog.Title }}</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Contenu</th>
					<td>{{ blog.Contenu }}</td>
				</tr>
				<tr>
					<th>Createur</th>
					<td>{{ blog.Createur }}</td>
				</tr>
				<tr>
					<th>DateCreation</th>
					<td>{{ blog.DateCreation ? blog.DateCreation|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			</tbody>
		</table>

		<a class="btn btn-primary" href="{{ path('blog_index') }}">back to list</a>

		<a class="btn btn-primary" href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>

		{{ include('blog/_delete_form.html.twig') }}
	</div>

{% endblock %}
